<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Talker: The Learning Bot</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    
    <main>
      <div id="contain">
        <div id="panelContainer">
          <div class="modal" style="width:200px;height:260px;vertical-align:top;margin-top:25px;margin-right:15px;padding:10px;">
            <div style="height:180px; width:180px; border:dotted black 2px;font-size:120px;text-align:center; margin-bottom:10px; background-image: url('https://cdn.glitch.com/67243602-e8f2-4d00-b335-8eb646290b87%2Ftumblr_oxkoasB1K41wxdq3zo1_500.gif?1511586824215');" id="profilepic"></div>
              <div><div style="margin-left:10px;display:inline-block;">
                Chatting with: <div>
                
                
                <select name="chatSelect" id="uName">
                </select>
                <button style="margin-left:30px;padding:0px;width:25px;height:25px" onclick="newUser()">
                  +
                </button></div>
              </div></div>
          </div>
          <div class="modal">
            <div id="chatbox">
            
            <section class="dreams">
              <div id="dreams">
                
              </div>
            </section>
            </div>
            <form>
              <input type="text" maxlength="100" placeholder="  type a message (:">
              <div style="margin: 0 0 0 auto; width:60px">

              <button type="submit" style="background-color:#f7e70e; border-radius:4px;">Send</button>
              </div>

            </form>
          </div>
        </div>
    </div>
    </main>

    <footer style="text-align:right;font-size:7">
      Made with love at NMIT.
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
