/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  padding:10px;
  margin:0px 0 0px 0;
  font-size: 16px;
  font-color:black;
  border-radius: 1px;
  background-color: transparent; 
  border: 1px solid grey;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.nicejob {
  text-decoration: line-through;
}

#contain {
  width:100%;
  text-align:center;
}



.modal {
  display:inline-block;
  border: 1px solid black;
  background-color:white;
  border-radius:9px;
  text-align:left;
}

#chatbox {
  padding:10px;
  width:380px;
  height:300px;
  overflow-x:hidden;
  overflow-y:visible;
}

.leftMsg {
  text-align:left;
  padding-bottom:5px;
}

.rightMsg {
  text-align:right;
  padding-bottom:5px;
}